/* We import our vars file */
@import "../../config.css";

.button {
  box-shadow: inset 0px 1px 0px 0px #9acc85;
  background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  border: 1px solid #3b6e22;
  display: inline-block;
  cursor: pointer;
  color: var(--color); /* Using imported cssnext var */
  padding: 6px 12px;
  text-decoration: none;
}
.button:hover {
  background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
}
.button:active {
  position: relative;
  top: 1px;
}
